*{
    font-family: 'Work Sans', sans-serif;
    margin :0;
    padding : 0;
}

body{
    background-color:hsl(275, 100%, 97%);
    background-image: url('Pics/background-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    display: block; 
    max-width: 100%;
}
button{
    background-color: transparent;
    cursor:pointer;
    border: none;
    width: 100%;
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    color:  hsl(292, 42%, 14%);
}
button:hover{color: #AD28EB;}
.Card{
    background-color: white;
    margin: 1rem;
    max-width: 800px;
    padding: 1.5rem;
    border-radius: 1rem;
}
.fqa-header{
    display: flex;
    align-items: center;
    font-weight: 900;
}
/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

- White: hsl(0, 0%, 100%)
- Light pink: hsl(275, 100%, 97%)
- Grayish purple: hsl(292, 16%, 49%)
- Dark purple: hsl(292, 42%, 14%)

## Typography

### Body Copy

- Font size (paragraphs): 16px

### Font

- Family: [Work Sans](https://fonts.google.com/specimen/Work+Sans)
- Weights: 400, 600, 700
*/